*{
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	margin:0px;
}

body{
	margin: 0px;
	background-color: #282828;
	font-family: Arial;
}

header{
	display: none;
	color: white;
	background-color: black;
	height: 60px;
	padding: 5px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

header h1{
	font-size: 29px;
	padding: 13px 0px 10px 110px;
	background-position: 315px 8px;
	background-repeat: no-repeat;
}

hr{
	margin-top: 10px;
	margin-bottom: 10px;
	border-color: black;
}
p{
	margin: 10px;
}

.headerPadding{
	height: 70px;
	width: 100%;
}

#scene{
	position: fixed;
	top: 70;
}

#canvas{
	position: fixed;
	left: 0;
}
#start{
	position: absolute;
	top: 70;
	bottom: 0;
	left: 0;
	right: 0;
	/*padding: 10px;*/
	/*background-color: gray;*/
}
#end, #hud, #lost{
	position: fixed;
	top: 70;
	bottom: 0;
	left: 0;
	right: 0;
	/*padding: 10px;*/
	background-color: rgba(82, 48, 0, 0.125);
	display: none;
}
#hud{
	background-color: transparent;
}

.menu{
	position: relative;
	width: 100%;
	/*margin: 10% 15%;*/
	padding: 10px;
	background-color: #523000;
}

#hudContent{
	position: relative;
	max-width: 300px;
	padding: 10px;
	background-color: #523000;
}

input[type='button']{
	font-size: 24px;
}
input:focus{
	outline: none;
}

table{
	padding: 10px;
}

canvas{
	width: 50%;
	height: 100%;
}

#controls{
	position: fixed;
	right: 0;
	top: 70;

	background-color: #999999;
}

.hided{
	display: none;
}

button{
	background: transparent;
	border: black 4px solid;
	border-radius: 10px;
	padding: 10px;
}